.link {
  color: #e0164f;
}

.alert {
  padding: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-primary {
    background-color: rgba(224, 22, 79, 0.5);
  }

  &-next {
    background-color: rgba(255, 136, 0, 0.5);
  }
}

.btn {
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.25em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  user-select: none;
  cursor: pointer;

  transition: all linear 100ms;

  &:not(:first-child) {
    margin-left: 10px;
  }

  &:active {
    box-shadow: none;
  }
}

.btn {
  text-decoration: none;

  &-primary {
    background-color: #e0164f;
    color: #ffffff;
  }
  &-next {
    background-color: #ff8800;
    color: #ffffff;
  }
  &-back {
    background-color: #1f4e79;
    color: #ffffff;
  }
}

.form {
  text-align: center;
  margin: auto;
  width: 50%;

  &_control {
    margin-bottom: 10px;
    display: block;
  }

  &_input,
  &_textarea {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    color: #404040;
    font-size: 1.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    transition: all linear 100ms;

    &::placeholder {
      color: #a6a6a6;
    }

    &:focus {
      outline: none;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }

    &_label {
      display: block;
      text-align: left;
      color: #404040;
    }

    &_help {
      display: block;
      text-align: left;
      color: #7f7f7f;
    }
  }

  &_input {
    text-align: center;
  }

  &_textarea {
    height: 5em;
    resize: none;
  }
}

.breadcrumbs {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f7f7f7;

  &_item {
    display: inline-block;
    color: #969696;
    text-decoration: none;

    &:hover {
      text-decoration: #e0164f;
    }

    &:not(:last-child)::after {
      padding: 0 5px;
      content: '>';
    }

    &:last-child {
      color: #e0164f;
    }
  }
}

.label {
  display: inline-block;
  padding: 3px;

  background-color: #efefef;

  &-primary {
    background-color: #e0164f;
    color: #ffffff;
  }

  &-secondary {
    background-color: #dbdbdb;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.pageHeader {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5em;
  background-color: #e0164f;
  color: #ffffff;
}

.sectionHeader {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0164f;
  font-size: 1.25em;
}

.sectionWrap {
  margin-bottom: 10px;
  padding: 0 10px;
}
